
@{
    ViewBag.Title = "GiaiPTB1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GiaiPTB1</h2>
@using (Html.BeginForm())
{
    <input type="text" name="hesoA"/>
    <input type="text" name="hesoB"/>
    <input type="submit" name="Giải phương trình"/>
}
<h3>Nghiệm của phương trình là @ViewBag.nghiepPT </h3>