
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetInfo</h2>
@using (Html.BeginForm())
{
    <input type="text" name="ten" />;


    <input type="text" name="tuoi" />;

    <input type="text" name="lop" />;

    <input type="submit" value="hiển thị thông tin" />;

    <h2>
        Thông tin:Họ và tên:@ViewBag.ten<br >
        Tuổi:@ViewBag.tuoi<br >
        lớp:@ViewBag.lop
    </h2>
}

